@use "../mixin/mixin" as m;

#index {
    .Containar {
        margin: 30px 0 30px 300px;
    }

    .Main {
        @include m.wrapper-1000;
    }

    .Xmas {
        &__inner {
            height: 400px;
            display: flex;
            justify-content: center;
            margin: 30px auto;
        }

        &__photo-coment{
            max-width: 350px;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: m.rem(32);
            font-weight: bold;
        }

        &__photo {
            height: inherit;
            max-width: 350px;
            width: 100%;
        }

        &__photo-item{
            height: inherit;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}
