@use "../mixin/mixin" as m;

#new {
    background-color: black;
    color: white;

    .Load {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 999;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: none;
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }
    }

    .Section-title-new {
        margin-bottom: 50px;
        text-align: center;

        @include m.mq(sp) {
            margin-bottom: 30px;
        }

        &__text {
            font-size: m.rem(80);
            display: inline-block;
            line-height: 1;
            border-bottom: 15px solid m.$ye;

            @include m.mq(sp) {
                font-size: m.rem(55);
                border-bottom: 10px solid m.$ye;
            }
        }
    }

    img {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .Mv {
        overflow: hidden;

        &__inner {
            position: relative;
        }

        &__img {
            width: 100%;
            min-height: 100vh;
            position: relative;
            z-index: 800;
            object-fit: cover;
        }

        &__text {
            position: absolute;
            line-height: 0.8;

            @include m.mq(sp) {
                z-index: 900;
            }

            &--1 {
                top: 100px;
                left: 60px;
                font-size: m.rem(300);
                font-weight: bold;

                @include m.mq(pc) {
                    font-size: m.rem(200);

                    &::before {
                        content: '';
                        width: 32px;
                        height: 5px;
                        transform: rotate(45deg) translateY(-190%);
                        position: absolute;
                        bottom: -28px;
                        left: 191px;
                        background-color: m.$ye;
                        border-radius: 3px;
                        box-shadow: 1px 1px 1px black;
                        z-index: 800;
                    }

                    &::after {
                        content: '';
                        width: 225px;
                        height: 5px;
                        position: absolute;
                        background-color: m.$ye;
                        bottom: -30px;
                        left: 0;
                        border-radius: 3px;
                        box-shadow: 1px 1px 1px black;
                        z-index: 800;
                    }
                }

                @include m.mq(sp) {
                    font-size: m.rem(150);
                    left: 40px;

                    &::before {
                        width: 24px;
                        bottom: -30px;
                        left: 142px;
                    }

                    &::after {
                        width: 169px;
                    }
                }
            }

            &--2 {
                bottom: 160px;
                right: 60px;
                font-size: m.rem(300);
                font-weight: bold;

                @include m.mq(pc) {
                    font-size: m.rem(200);
                    bottom: 45px;
                }

                @include m.mq(sp) {
                    font-size: m.rem(150);
                    right: 40px;
                }
            }

            &--3 {
                font-size: m.rem(30);
                font-weight: bold;
                z-index: 900;
                line-height: 1.5;
                right: 0;
                letter-spacing: 0.1em;
                transform: translateY(-150%);
                text-shadow: 1px 1px 2px black;

                @include m.mq(pc) {
                    font-size: m.rem(22);
                }

                @include m.mq(sp) {
                    font-size: m.rem(20);
                }
            }

        }

        @include m.mq(pc) {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                height: 0px;
                background-color: black;
                color: black;
            }

            &::-webkit-scrollbar-track {
                color: black;
                background-color: black;
            }

            &::-webkit-scrollbar-thumb {
                color: black;
                background-color: black;
            }

            &__inner {
                min-width: 1500px;
            }

            @include m.mq(sp) {
                &__inner {
                    min-width: 1000px;
                    height: 100vh;
                }
            }

        }
    }

    .Mini {
        margin-bottom: 100px;
        margin-top: 50px;

        @include m.mq(sp) {
            margin-top: 30px;
            margin-bottom: 80px;
        }

        &__text {
            padding: 0 20px;
            text-align: center;
            letter-spacing: 0.1em;
            max-width: 830px;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            position: relative;
            margin: 20px 0;
        }

        &__img {
            max-height: 450px;

            img {
                max-height: 450px;
                filter: drop-shadow(-2px 2px 0 m.$ye);

                @include m.mq(sp) {
                    max-height: 500px;
                }

            }
        }

        &__title {
            font-size: m.rem(50);
            font-weight: 800;
            letter-spacing: 0.1em;
            display: inline-block;
            max-width: 200px;
            position: absolute;
            top: 15%;
            left: 10%;
            text-shadow: 2px 2px 0px black;

            @include m.mq(sp) {
                font-size: m.rem(40);
                font-weight: 700;
            }

            &--one {
                font-size: m.rem(70);
                top: 13%;

                @include m.mq(sp) {
                    font-size: m.rem(50);
                }
            }

            &--two {
                font-size: m.rem(60);
                top: 14%;

                @include m.mq(sp) {
                    font-size: m.rem(45);
                }

            }

            & span {
                display: inline-block;
            }

            @include m.mq(sp) {}
        }

        &__comment {
            position: absolute;
            bottom: 10px;
            right: 55px;
            text-align: center;
            letter-spacing: 0.25em;
            writing-mode: vertical-rl;
            text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black, 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black;
            font-weight: bold;
            font-size: m.rem(20);

            @include m.mq(sp) {
                right: 70px;
            }
        }
    }

    .Haco {
        position: relative;
        text-align: center;
        margin-bottom: 80px;

        &__inner {
            display: inline-block;
            position: relative;
        }

        &__img {
            display: inline;
            max-height: 900px;
        }

        &__text-1 {
            font-size: m.rem(45);
            font-weight: bold;
            letter-spacing: 0.1em;
            position: absolute;
            top: -10px;
            right: 5px;
            text-shadow: 2px 2px 0px black;
        }

        &__text-2 {
            font-size: m.rem(45);
            font-weight: bold;
            writing-mode: vertical-rl;
            letter-spacing: 0.1em;
            position: absolute;
            top: 45px;
            right: 0;
            text-shadow: 2px 2px 0px black;
        }

        &__text-3 {
            padding: 20px 20px;
            padding-top: 0;
            text-shadow: 1px 1px 2px black;
            max-width: 450px;
            margin: 0 auto;
            // background: rgb(0, 0, 0);
            // background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

            span {
                display: inline-block;
                position: relative;
                margin-right: 5px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: m.$ye;
                    bottom: 3px;
                }
            }

            .ku {
                margin-right: 0;

                &::before {
                    background-color: transparent;
                }
            }

        }
    }

    .Bv {
        height: 100vh;
        min-height: 1100px;
        overflow: hidden;

        @include m.mq(pc) {
            min-height: initial;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        &__inner {
            position: relative;
        }

        &__img {
            width: 100%;
            position: relative;
            z-index: 800;
            min-height: 900px;
            height: 100%;
            object-fit: cover;
        }

        &__text {
            position: absolute;
            left: 100px;
            top: 20%;
            z-index: 810;
            min-width: 560px;

            @include m.mq(sp) {
                left: 0;
                width: 100vw;
                padding: 0 30px;
                max-width: 440px;
                min-width: initial;
            }

            &--title {
                font-size: m.rem(80);
                letter-spacing: 0.1em;
                line-height: 1;
                display: block;
                margin-bottom: 15px;
                font-weight: bold;

                @include m.mq(sp) {
                    font-size: m.rem(30);
                }

                &::before {
                    position: absolute;
                    content: '777';
                    color: m.$ye;
                    opacity: 0.3;
                    right: -100px;
                    top: 40px;
                    font-size: m.rem(150);

                    @include m.mq(sp) {
                        font-size: m.rem(50);
                        right: 100px;
                        top: 10px;
                    }

                    font-weight: 900;
                }


                .ind {
                    font-size: m.rem(120);
                    letter-spacing: 0;
                    line-height: 1.1;

                    @include m.mq(sp) {
                        font-size: m.rem(45);
                    }
                }

                .jack {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        background-color: m.$ye;
                        height: 10px;
                        width: 400px;
                        bottom: 0;
                        left: 180px;
                        z-index: 500;

                        @include m.mq(sp) {
                            bottom: -5px;
                            left: 70px;
                            width: 180px;
                            height: 5px;
                        }
                    }

                }
            }

            &--title-2 {
                display: block;
                margin-bottom: 15px;
                font-size: m.rem(30);
                font-weight: bold;

                @include m.mq(sp) {
                    font-size: m.rem(25);
                }
            }
        }

        @include m.mq(pc) {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                height: 0px;
                background-color: black;
                color: black;
            }

            &::-webkit-scrollbar-track {
                color: black;
                background-color: black;
            }

            &::-webkit-scrollbar-thumb {
                color: black;
                background-color: black;
            }

            &__inner {
                min-width: 1500px;
            }

            @include m.mq(sp) {
                &__inner {
                    min-width: 1000px;
                    height: 100vh;
                }
            }

        }

    }
}