@use "../mixin/mixin" as m;

#new {
    background-color: black;
    color: white;

    img {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .Mv {
        overflow-x: hidden;
        overflow-y: hidden;

        &__inner {
            position: relative;
        }

        &__img {
            shape-outside: url(image\アドカレ-1.png);
            width: 100%;
            position: relative;
            z-index: 800;
        }

        &__text {
            position: absolute;
            line-height: 0.8;

            @include m.mq(sp) {
                z-index: 900;
            }

            &--1 {
                top: 100px;
                left: 60px;
                font-size: m.rem(300);
                font-weight: bold;

                @include m.mq(pc) {
                    font-size: m.rem(200);

                    &::before {
                        content: '';
                        width: 10%;
                        height: 5px;
                        transform: rotate(45deg) translateY(-190%);
                        position: absolute;
                        bottom: -28px;
                        right: 97.5px;
                        background-color: white;
                        border-radius: 3px;
                        box-shadow: 1px 1px 1px black;
                        z-index: 800;
                    }

                    &::after {
                        content: '';
                        width: 70%;
                        height: 5px;
                        position: absolute;
                        background-color: white;
                        bottom: -30px;
                        left: 0;
                        border-radius: 3px;
                        box-shadow: 1px 1px 1px black;
                        z-index: 800;
                    }
                }

                @include m.mq(sp) {
                    font-size: m.rem(150);
                    left: 40px;

                    &::before {
                        bottom: -30px;
                        right: 77px;
                    }
                }
            }

            &--2 {
                bottom: 130px;
                right: 60px;
                font-size: m.rem(300);
                font-weight: bold;

                @include m.mq(pc) {
                    font-size: m.rem(200);
                    bottom: 80px;
                }

                @include m.mq(sp) {
                    font-size: m.rem(150);
                    right: 40px;
                }
            }

            &--3 {
                font-size: m.rem(30);
                font-weight: bold;
                z-index: 900;
                line-height: 1.5;
                right: 0;
                letter-spacing: 0.1em;
                transform: translateY(-150%);
                text-shadow: 1px 1px 2px black;

                @include m.mq(pc) {
                    font-size: m.rem(22);
                }

                @include m.mq(sp) {
                    font-size: m.rem(20);
                }
            }

        }

        @include m.mq(pc) {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                height: 5px;
                background-color: black;
                color: black;
            }

            &::-webkit-scrollbar-track {
                color: black;
                background-color: black;
            }

            &::-webkit-scrollbar-thumb {
                color: black;
                background-color: black;
            }

            &__inner {
                min-width: 1500px;
            }

            @include m.mq(sp) {
                &__inner {
                    min-width: 1000px;
                }
            }

        }
    }

    .Haco {
        position: relative;
        text-align: center;

        &__inner {
            display: inline-block;
            position: relative;
        }

        &__img {
            display: inline;
            max-height: 900px;
        }

        &__text-1 {
            font-size: m.rem(40);
            font-weight: bold;
            letter-spacing: 0.1em;
            position: absolute;
            top: -10px;
            right: 5px;
        }

        &__text-2 {
            font-size: m.rem(40);
            font-weight: bold;
            writing-mode: vertical-rl;
            letter-spacing: 0.1em;
            position: absolute;
            top: 40px;
            right: 0;
        }

        &__text-3 {
            position: absolute;
            padding: 20px 20px;
            max-width: 320px;
            bottom: 150px;
            left: -100px;
            text-shadow: 1px 1px 2px black;
            background: rgb(0, 0, 0);
            background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);


            @include m.mq(sp) {
                position: static;
                margin: 0 auto;
                padding-top: 0;
                max-width: 450px;
            }
        }
    }
}