$breakpoint: (
    sp: 'screen and (max-width: 800px)',
    pc: 'screen and (min-width: 1025px)'
);

$ye: rgb(255, 248, 143);
$gr: rgb(194, 194, 194);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

// flexセット
// ----------------------------------------------------------
@mixin flexSet($align: flex-start, $justy: flex-start, $dir: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justy;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

@mixin wrapper-1100 {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}

@mixin wrapper-880 {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}

@mixin mb-section {
    margin-bottom: 80px;

    @include mq(sp) {
        margin-bottom: 60px;
    }
}

@mixin mb-sub {
    margin-bottom: 60px;

    @include mq(sp) {
        margin-bottom: 45px;
    }
}

@mixin hover {
    @media(hover:hover) {
        &:hover {
            @content;
        }
    }
}



// rem変換
@function rem($size, $base: 18) {
    $value: calc($size/$base)*1rem;
    @return $value;
}