@charset "UTF-8";

/*---------------------
Reset
---------------------*/
/*
  Josh's Custom CSS Resethttps://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/*---------------------
all
---------------------*/
html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover {
    opacity: 0.8;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

ul,
ol,
dl,
dt,
dd,
li {
    list-style: none;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex,
.flex-sp-bl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-wp {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-jc-e {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-jc-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-al-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-dl-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.calc-2 {
    width: calc(100% / 2);
}

.calc-3 {
    width: calc(100% / 3);
}

.pc_hide {
    display: none;
}

.sp_hide {
    display: block;
}

.text-c {
    text-align: center;
}

.text-r {
    text-align: right;
}

/*---------------------
font-size
---------------------*/
/* base 18px */
html { font-size: 18px;}
body { font-size: 1rem;}
.pc-f-10 { font-size: 0.55555555555556rem;}
.pc-f-12 { font-size: 0.66666666666667rem;}
.pc-f-14 { font-size: 0.77777777777778rem;}
.pc-f-15 { font-size: 0.83333333333333rem;}
.pc-f-16 { font-size: 0.88888888888889rem;}
.pc-f-20 { font-size: 1.1111111111111rem;}
.pc-f-22 { font-size: 1.222222222222222rem;}
.pc-f-23 { font-size: 1.2777777777778rem;}
.pc-f-24 { font-size: 1.3333333333333rem;}
.pc-f-25 { font-size: 1.3888888888889rem;}
.pc-f-26 { font-size: 1.4444444444444rem;}
.pc-f-28 { font-size: 1.555555555555556rem;}
.pc-f-30 { font-size: 1.6666666666667rem;}
.pc-f-32 { font-size: 1.7777777777778rem;}
.pc-f-40 { font-size: 2.2222222222222rem;}

/*---------------------
font-weight
font-family
---------------------*/
/* 欧フォント→和フォント指定で混植 */
body {
    font-family: 'Avenir', 'ヒラギノ角ゴシック', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    color: #333;
}

.bold {
    font-weight: bold;
}

/* margin-bottom */
.mb-0 {
    margin-bottom: 0px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-105 {
    margin-bottom: 105px !important;
}

@media screen and (max-width: px) {

     /* base 18px */
    .sp-f-10 { font-size: 0.55555555555556rem !important;}
    .sp-f-12 { font-size: 0.66666666666667rem !important;}
    .sp-f-14 { font-size: 0.77777777777778rem !important;}
    .sp-f-15 { font-size: 0.83333333333333rem !important;}
    .sp-f-16 { font-size: 0.88888888888889rem !important;}
    .sp-f-20 { font-size: 1.1111111111111rem !important;}
    .sp-f-23 { font-size: 1.2777777777778rem !important;}
    .sp-f-24 { font-size: 1.3333333333333rem !important;}
    .sp-f-25 { font-size: 1.3888888888889rem !important;}
    .sp-f-26 { font-size: 1.4444444444444rem !important;}
    .sp-f-30 { font-size: 1.6666666666667rem !important;}
    .sp-f-32 { font-size: 1.7777777777778rem !important;}
    .sp-f-40 { font-size: 2.2222222222222rem !important;}

    .flex-sp-bl {
        display: block;
    }

    .flex-sp-dl-c {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .sp-order-2 {
        order: 2;
    }

    .calc-2,
    .calc-3 {
        width: 100%;
    }

    .pc_hide {
        display: block;
    }

    .sp_hide {
        display: none;
    }

    .mb-10,
    .mb-15,
    .mb-20,
    .mb-25,
    .mb-30,
    .mb-35,
    .mb-40,
    .mb-45,
    .mb-50,
    .mb-55,
    .mb-60,
    .mb-80,
    .mb-105 {
        margin-bottom: 0 !important;
    }

    .sp-mb-15 {
        margin-bottom: 15px !important;
    }

    .sp-mb-20 {
        margin-bottom: 20px !important;
    }

    .sp-mb-25 {
        margin-bottom: 25px !important;
    }

    .sp-mb-30 {
        margin-bottom: 30px !important;
    }

    .sp-mb-35 {
        margin-bottom: 35px !important;
    }

    .sp-mb-40 {
        margin-bottom: 40px !important;
    }

    .sp-mb-55 {
        margin-bottom: 55px !important;
    }
}