/*---------------------
    openbtn
    ---------------------*/
.drawer {
  position: fixed;
  right: 0;
}
.drawer-hidden {
  display: none;
}
.drawer-open {
  background: #fcc;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.drawer-open span,
.drawer-open span::after,
.drawer-open span::before {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.4s;
  position: absolute;
}
.drawer-open span::before {
  bottom: 8px;
}
.drawer-open span::after {
  top: 8px;
}

#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/*---------------------
    g-nav
    ---------------------*/
#g-nav {
  background: #fcc;
  position: fixed;
  z-index: 98;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.3s;
}

#drawer-check:checked ~ #g-nav {
  opacity: 1;
}

#g-nav ul {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav li {
  text-align: center;
}

#index .Header .SP-header {
  display: none;
}
#index .Header .PC-header {
  display: block;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  color: white;
}
#index .Containar {
  margin: 30px 0 30px 300px;
}
#index .Main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

#old body {
  width: 100vw;
  overflow-x: hidden;
  background: white;
}
#old h1,
#old h2,
#old h3,
#old p {
  text-align: center;
}
#old p {
  line-height: 40px;
  letter-spacing: 0.1em;
}
#old span {
  display: inline-block;
}
#old .top_image {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
#old .top_image > img {
  height: 100%;
}
#old .top_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
#old h1 {
  margin-top: 20px;
  display: inline-block;
  width: 100vw;
  font-size: 2.5rem;
  line-height: 3rem;
}
#old .top_text_item2 {
  display: inline-block;
  width: 450px;
  margin-bottom: 50px;
}
#old h2 {
  margin-top: 2rem;
  font-size: 4.5rem;
  border-bottom: solid 10px black;
  line-height: 40px;
  margin-bottom: 2rem;
}
#old .works_item {
  margin-top: 5rem;
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
#old .works_image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 65vw;
  max-width: 700px;
  max-height: 700px;
}
#old .works_image > a > img {
  width: 100%;
  height: 100%;
}
#old .works_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}
#old h3 {
  display: inline-block;
  margin-top: 20px;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  border-bottom: solid 5px;
  margin-bottom: 20px;
}
#old .works_text_item2 {
  display: inline-block;
  width: 420px;
}
#old #page-top {
  position: fixed;
  right: 40px;
  bottom: 50px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: 150%;
  line-height: 2rem;
  color: #737373;
  padding: 0 0 0 30px;
  border-top: solid 4px;
}
#old #page-top:hover {
  color: black;
}
#old #page-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -3.5px;
  left: 2px;
  width: 20px;
  border-top: solid 4px;
  transform: rotate(35deg);
  transform-origin: left top;
}
#old .lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

@media screen and (max-width: 480px) {
  #old p {
    font-size: 0.9em;
    line-height: 2em;
  }
  #old .works_text {
    width: 450px;
    margin-top: 15px;
  }
  #old .works_text_item2 {
    width: 320px;
  }
  #old h1 {
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #old .top_text_item2 {
    width: 600px;
  }
  #old h3 {
    font-size: 2em;
    border-bottom: sorid 7px;
  }
  #old h2 {
    font-size: 3.5em;
    line-height: 65%;
    border-bottom: solid 8px;
  }
  #old #page-top {
    font-size: 140%;
    bottom: 50px;
    right: 25px;
    border-top: solid 0.2rem;
  }
  #old #page-top::before {
    border-top: solid 0.2rem;
    left: 0;
    width: 20px;
  }
}/*# sourceMappingURL=stylesheet.css.map */