@charset "UTF-8";
/*---------------------
Reset
---------------------*/
/*
  Josh's Custom CSS Resethttps://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*---------------------
all
---------------------*/
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

ul,
ol,
dl,
dt,
dd,
li {
  list-style: none;
}

/*---------------------
font-size
---------------------*/
/* base 18px */
html {
  font-size: 18px;
}

body {
  font-size: 1rem;
  font-weight: 500;
}

/*---------------------
font-family
---------------------*/
/* 欧フォント→和フォント指定で混植 */
body {
  font-family: "Avenir", "ヒラギノ角ゴシック", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
  color: #333;
}

/*---------------------
    openbtn
    ---------------------*/
.drawer {
  position: fixed;
  right: 0;
  top: 0;
}
.drawer-hidden {
  display: none;
}
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.drawer-open span,
.drawer-open span::after,
.drawer-open span::before {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: white;
  transition: 0.4s;
  position: absolute;
}
.drawer-open span::before {
  bottom: 8px;
}
.drawer-open span::after {
  top: 8px;
}

#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/*---------------------
    g-nav
    ---------------------*/
#g-nav {
  background: #333;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.6s;
  transform: translateY(-100%);
}

#drawer-check:checked ~ #g-nav {
  transform: translateY(0);
}

#g-nav ul {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav li {
  text-align: center;
  color: white;
  border-bottom: 3px solid white;
  margin-bottom: 15px;
}
#g-nav li a {
  color: white;
  font-size: 1.2222222222rem;
}

.SP-header {
  display: none;
  height: 60px;
}
@media screen and (max-width: 750px) {
  .SP-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 998;
  }
  .SP-header .Logo {
    position: relative;
    display: block;
    height: 60px;
    width: 190px;
    z-index: 100;
  }
  .SP-header .Logo__img {
    height: inherit;
  }
}

#new .SP-header {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}
#new .SP-header .drawer-open {
  background-color: black;
}
#new .SP-header #g-nav {
  background-color: black;
}

.PC-header-top {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 950;
}
.PC-header-top .Logo {
  height: inherit;
  line-height: 0;
  width: 250px;
}
.PC-header-top nav {
  height: inherit;
}
.PC-header-top ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}
.PC-header-top ul li {
  margin-right: 30px;
}
.PC-header-top ul li a {
  color: #333;
  border-bottom: 2px solid #333;
}
@media screen and (max-width: 750px) {
  .PC-header-top {
    display: none;
  }
}

#index .PC-header-top {
  background-color: transparent;
}

#new .PC-header-top {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%);
}
#new .PC-header-top nav a {
  color: white;
  border-bottom: 2px solid white;
}

.PC-header {
  display: block;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  color: white;
  z-index: 990;
}
.PC-header .Logo {
  transition: all 0.3s;
}
@media (hover: hover) {
  .PC-header .Logo:hover {
    opacity: 0.7;
  }
}
@media screen and (max-width: 750px) {
  .PC-header {
    display: none;
  }
}
.PC-header .Index__list {
  margin: 30px;
  line-height: 1.5;
}
.PC-header .Index__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
}
.PC-header .Index__title1 {
  display: inline-block;
  font-size: 1.2222222222rem;
  color: white;
  border-bottom: solid 2px transparent;
  transition: all 0.3s;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;
}
.PC-header .Index__title1:after {
  position: absolute;
  content: "";
  background-color: rgb(255, 248, 143);
  height: 15px;
  width: 3px;
  right: -8px;
  bottom: 3px;
  transform: rotate(30deg);
}
@media (hover: hover) {
  .PC-header .Index__title1:hover {
    border-bottom: solid 2px rgb(255, 248, 143);
  }
}
.PC-header .Index__title2 {
  display: inline-block;
  font-size: 1rem;
  color: white;
  border-bottom: solid 2px transparent;
  transition: all 0.3s;
  margin-left: 30px;
  margin-bottom: 10px;
}
@media (hover: hover) {
  .PC-header .Index__title2:hover {
    border-bottom: solid 2px rgb(255, 248, 143);
  }
}

#page-top {
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  line-height: 2rem;
  background-color: #333;
  transition: all 0.3s;
  z-index: 990;
  cursor: pointer;
}

#page-top::after {
  content: "";
  color: white;
  display: block;
  position: absolute;
  width: 18px;
  border-top: solid 5px;
  transform: rotate(-45deg);
  transform-origin: left top;
  z-index: 999;
  border-radius: 5px;
  top: 27px;
  left: 12px;
}

#page-top::before {
  content: "";
  color: white;
  display: block;
  position: absolute;
  top: 14px;
  right: 7px;
  width: 18px;
  border-top: solid 5px;
  border-radius: 5px;
  transform: rotate(45deg);
  transform-origin: left top;
  z-index: 999;
}

@media screen and (max-width: 750px) {
  #page-top {
    bottom: 15px;
    right: 15px;
  }
}
.Section-title {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}
.Section-title__text {
  position: relative;
  font-size: 1.7777777778rem;
  color: white;
  /*文字色*/
  padding: 0.5em;
  /*文字周りの余白*/
  display: inline-block;
  /*おまじない*/
  line-height: 1.3;
  /*行高*/
  background: #333;
  /*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
  /*左側の角を丸く*/
  margin-bottom: 50px;
}
@media screen and (max-width: 750px) {
  .Section-title__text {
    font-size: 1.6666666667rem;
    margin-bottom: 40px;
  }
}
.Section-title__text:before {
  content: "●";
  color: white;
  margin-right: 8px;
}
.Section-title__text:after {
  position: absolute;
  content: "";
  background-color: rgb(255, 248, 143);
  height: 40px;
  width: 8px;
  right: 0;
  bottom: 5px;
  transform: rotate(30deg);
}

.Subtitle {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1.6666666667rem;
  background: linear-gradient(transparent 70%, rgb(255, 248, 143) 70%);
  padding-left: 15px;
  margin-bottom: 30px;
}
@media screen and (max-width: 750px) {
  .Subtitle {
    font-size: 1.5555555556rem;
  }
}

.Btn-more {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.Btn-more__link {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #333;
  background-color: white;
  border-radius: 25px;
  border: 3px solid #333;
  font-weight: bold;
  transition: all 0.3s;
}
@media (hover: hover) {
  .Btn-more__link:hover {
    background-color: #333;
    color: white;
  }
}

@-webkit-keyframes niji {
  0% {
    color: #be1f1f;
  }
  14% {
    color: #cc8b1a;
  }
  28% {
    color: #beae1b;
  }
  42% {
    color: #20884f;
  }
  56% {
    color: #216497;
  }
  70% {
    color: #1d2088;
  }
  85% {
    color: #7c1c73;
  }
  100% {
    color: #dd1111;
  }
}

@keyframes niji {
  0% {
    color: #be1f1f;
  }
  14% {
    color: #cc8b1a;
  }
  28% {
    color: #beae1b;
  }
  42% {
    color: #20884f;
  }
  56% {
    color: #216497;
  }
  70% {
    color: #1d2088;
  }
  85% {
    color: #7c1c73;
  }
  100% {
    color: #dd1111;
  }
}
@-webkit-keyframes under {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes under {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
#index .Containar {
  margin: 110px 0 30px 300px;
  padding-bottom: 30px;
}
@media screen and (max-width: 750px) {
  #index .Containar {
    margin: 90px 0;
  }
}
#index .First {
  margin-bottom: 130px;
}
@media screen and (max-width: 750px) {
  #index .First {
    margin-bottom: 80px;
  }
}
#index .Dare {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Dare {
    margin-bottom: 50px;
  }
}
#index .Dare__inner {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 750px) {
  #index .Dare__inner {
    flex-direction: column;
  }
}
#index .Dare__left {
  width: 30%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  #index .Dare__left {
    margin-bottom: 30px;
    width: 100%;
  }
}
#index .Dare__right {
  width: 70%;
}
@media screen and (max-width: 750px) {
  #index .Dare__right {
    width: 100%;
  }
}
#index .Dare__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
#index .Dare__desc-t {
  width: 40%;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px dotted rgb(194, 194, 194);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
#index .Dare__desc-t:first-of-type {
  padding-top: 10px;
  border-top: 1px dotted rgb(194, 194, 194);
}
#index .Dare__desc-t:last-of-type {
  margin-bottom: 0;
}
#index .Dare__desc-d {
  width: 60%;
  border-bottom: 1px dotted rgb(194, 194, 194);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}
#index .Dare__desc-d--sp {
  font-size: 1.6666666667rem;
  font-weight: bold;
}
#index .Dare__desc-d--niji {
  -webkit-animation: 5s niji linear infinite;
          animation: 5s niji linear infinite;
}
#index .Dare__desc-d:first-of-type {
  padding-top: 10px;
  border-top: 1px dotted rgb(194, 194, 194);
}
#index .Dare__desc-d:last-of-type {
  margin-bottom: 0;
}
#index .Dare__img {
  height: 150px;
  width: 150px;
}
#index .Dare__movie {
  color: rgb(194, 194, 194);
  font-size: 0.7777777778rem;
}
#index .Dare__movie--sp {
  font-weight: bold;
}
#index .Second {
  margin-bottom: 130px;
}
@media screen and (max-width: 750px) {
  #index .Second {
    margin-bottom: 80px;
  }
}
#index .Second__text-block-1 {
  margin-bottom: 55px;
}
#index .Second__text-block-2--sp {
  font-weight: bold;
  font-size: 1.1111111111rem;
}
#index .Tomo {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Tomo {
    margin-bottom: 50px;
  }
}
#index .Tomo__name {
  font-weight: bold;
  text-align: center;
  font-size: 1.2222222222rem;
}
@media screen and (max-width: 750px) {
  #index .Tomo__name {
    margin-bottom: 15px;
  }
}
#index .Tomo__inner {
  display: flex;
  margin-bottom: 15px;
}
@media screen and (max-width: 750px) {
  #index .Tomo__inner {
    flex-direction: column;
  }
}
#index .Tomo__left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  #index .Tomo__left {
    width: 100%;
  }
}
#index .Tomo__circle {
  width: 150px;
  height: 150px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
#index .Tomo__m {
  font-size: 3.3333333333rem;
  font-weight: bold;
  color: rgb(255, 248, 143);
  display: inline;
}
#index .Tomo__right {
  width: 70%;
}
@media screen and (max-width: 750px) {
  #index .Tomo__right {
    width: 100%;
  }
}
#index .Tomo__item {
  padding: 0 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted rgb(194, 194, 194);
  position: relative;
}
#index .Tomo__item::before {
  content: "・";
  position: absolute;
}
#index .Tomo__item:first-child {
  padding-top: 10px;
  border-top: 1px dotted rgb(194, 194, 194);
}
#index .Tomo__item:last-child {
  margin-bottom: 0;
}
#index .Tomo__text {
  padding-left: 20px;
}
#index .Tomo__qa {
  margin: 30px auto 55px auto;
  font-size: 1.1111111111rem;
}
@media screen and (max-width: 750px) {
  #index .Tomo__qa {
    margin-bottom: 30px;
  }
}
#index .Tomo__q {
  margin-bottom: 10px;
  margin-left: 20px;
  position: relative;
}
@media screen and (max-width: 750px) {
  #index .Tomo__q {
    margin-left: 0;
  }
}
#index .Tomo__q::before {
  content: "Q.";
  font-weight: bold;
  font-size: 2.2222222222rem;
  margin-right: 5px;
  color: #3f79a5;
}
@media screen and (max-width: 750px) {
  #index .Tomo__q::before {
    margin-left: 5px;
  }
}
#index .Tomo__q::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  max-width: 350px;
  width: 100%;
  height: 2px;
  background-color: #3f79a5;
}
#index .Tomo__a {
  text-align: right;
  position: relative;
  margin-right: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 750px) {
  #index .Tomo__a {
    margin-right: 0;
  }
}
#index .Tomo__a::before {
  content: "A.";
  font-weight: bold;
  font-size: 2.2222222222rem;
  margin-right: 5px;
  color: #b83e3e;
}
@media screen and (max-width: 750px) {
  #index .Tomo__a::before {
    margin-left: 5px;
  }
}
#index .Tomo__a::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  max-width: 350px;
  width: 100%;
  height: 2px;
  background-color: #b83e3e;
}
#index .Tomo__a--kao {
  font-size: 2.5rem;
  font-weight: bold;
}
#index .Realize {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Realize {
    margin-bottom: 50px;
  }
}
#index .Realize__inner {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
@media screen and (max-width: 750px) {
  #index .Realize__inner {
    flex-direction: column;
  }
  #index .Realize__inner--reverse {
    flex-direction: column-reverse;
  }
}
#index .Realize__photo-comment {
  max-width: 350px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7777777778rem;
  font-weight: bold;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  #index .Realize__photo-comment {
    margin-top: 20px;
  }
}
#index .Realize__photo {
  height: 400px;
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
}
#index .Realize__photo-item {
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#index .Realize__text {
  margin-bottom: 10px;
}
#index .Realize__text--big {
  font-weight: bold;
  font-size: 2.5rem;
}
#index .Realize__text--red {
  font-size: 3.0555555556rem;
  color: #b83e3e;
}
#index .Realize__text--green {
  font-size: 3.0555555556rem;
  color: #42b83e;
}
#index .Realize__text--small {
  color: rgb(194, 194, 194);
  font-size: 0.7777777778rem;
  border-bottom: 1px solid rgb(194, 194, 194);
}
#index .Realize__kaigyo {
  display: inline-block;
}
#index .Under {
  height: 100vh;
  position: relative;
  -webkit-animation: 5s under ease-in-out infinite;
          animation: 5s under ease-in-out infinite;
}
#index .Under__line::before {
  position: absolute;
  content: "";
  height: 150px;
  width: 5px;
  border-radius: 5px;
  background-color: #333;
  top: 255px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#index .Under__corner::before {
  content: "";
  color: #333;
  display: block;
  position: absolute;
  top: 318.75px;
  right: 50%;
  width: 34px;
  border-top: solid 5px;
  border-radius: 5px;
  transform: translate(20%, -50%) rotate(45deg);
}
#index .Under__corner::after {
  content: "";
  color: #333;
  display: block;
  position: absolute;
  top: 318.75px;
  right: 50%;
  width: 34px;
  border-top: solid 5px;
  border-radius: 5px;
  transform: translate(80%, -50%) rotate(-45deg);
}
#index .Restart {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Restart {
    margin-bottom: 50px;
  }
}
#index .Restart__img {
  margin-bottom: 30px;
}
#index .Restart__img--anzai {
  width: 80%;
  margin: 30px auto;
}
@media screen and (max-width: 750px) {
  #index .Restart__img--anzai {
    width: 100%;
  }
}
#index .Restart__text {
  margin-bottom: 10px;
}
#index .Restart__text--big {
  font-weight: bold;
  font-size: 1.2222222222rem;
}
#index .Restart__text--anzai {
  font-size: 1.9444444444rem;
}
#index .Restart__text--sp {
  color: rgb(194, 194, 194);
  font-size: 0.7777777778rem;
}
#index .Restart__link {
  color: #333;
  position: relative;
  z-index: 5;
  font-weight: bold;
}
#index .Restart__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 248, 143);
  transition: all 0.3s;
  z-index: -1;
}
@media (hover: hover) {
  #index .Restart__link:hover::before {
    height: 100%;
  }
  #index .Restart__link:hover::after {
    content: " ←スラムダンクのOP・EDて名曲しかない";
    color: #333;
    background-color: white;
  }
}
#index .Third {
  margin-bottom: 130px;
}
@media screen and (max-width: 750px) {
  #index .Third {
    margin-bottom: 80px;
  }
}
#index .Nani {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Nani {
    margin-bottom: 50px;
  }
}
#index .Nani__text {
  margin-bottom: 10px;
}
#index .Nani__text--big {
  font-size: 1.3888888889rem;
  font-weight: bold;
}
#index .Old {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Old {
    margin-bottom: 50px;
  }
}
#index .Old__text {
  margin-bottom: 10px;
}
#index .Old__text--big {
  font-size: 1.3888888889rem;
  font-weight: bold;
}
#index .Old__text--sp {
  color: rgb(194, 194, 194);
  font-size: 0.7777777778rem;
}
#index .Old__site {
  margin: 30px 0;
}
#index .New {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .New {
    margin-bottom: 50px;
  }
}
#index .New__text {
  margin-bottom: 10px;
}
#index .New__text--big {
  font-size: 1.3888888889rem;
  font-weight: bold;
}
#index .New__text--sp {
  color: rgb(194, 194, 194);
  font-size: 0.7777777778rem;
  display: inline-block;
}
#index .New__site {
  margin: 30px 0;
}
#index .Fourth {
  margin-bottom: 130px;
}
@media screen and (max-width: 750px) {
  #index .Fourth {
    margin-bottom: 80px;
  }
}
#index .Bad {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Bad {
    margin-bottom: 50px;
  }
}
#index .Bad__item {
  list-style: decimal;
  padding-bottom: 10px;
  border-bottom: 1px dashed rgb(194, 194, 194);
  margin-bottom: 20px;
  margin-left: 20px;
}
#index .Bad__item:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
#index .Bad__text-big {
  font-weight: bold;
  font-size: 1.1111111111rem;
}
#index .Good {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Good {
    margin-bottom: 50px;
  }
}
#index .Good__item {
  list-style: decimal;
  padding-bottom: 10px;
  border-bottom: 1px dashed rgb(194, 194, 194);
  margin-bottom: 20px;
  margin-left: 20px;
}
#index .Good__item:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
#index .Good__text-big {
  font-weight: bold;
  font-size: 1.1111111111rem;
}
#index .Last {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 750px) {
  #index .Last {
    margin-bottom: 50px;
  }
}
#index .Last__text {
  margin-bottom: 10px;
}
#index .Last__link {
  color: #333;
  position: relative;
  z-index: 5;
  font-weight: bold;
}
#index .Last__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 248, 143);
  transition: all 0.3s;
  z-index: -1;
}
@media (hover: hover) {
  #index .Last__link:hover::before {
    height: 100%;
  }
  #index .Last__link:hover::after {
    content: " ←マジでいい曲だな";
    color: #333;
    background-color: white;
  }
}

#old body {
  width: 100vw;
  overflow-x: hidden;
  background: white;
  font-size: 16px;
}
#old h1,
#old h2,
#old h3,
#old p {
  text-align: center;
}
#old p {
  line-height: 40px;
  letter-spacing: 0.1em;
}
#old span {
  display: inline-block;
}
#old #container {
  margin-top: 80px;
}
#old .top_image {
  position: relative;
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
#old .top_image > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#old .top_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
#old h1 {
  margin-top: 20px;
  display: inline-block;
  width: 100vw;
  font-size: 2.5rem;
  line-height: 3rem;
  color: black;
}
#old .top_text_item2 {
  display: inline-block;
  width: 500px;
  margin-bottom: 50px;
}
#old h2 {
  margin-top: 2rem;
  color: black;
  font-size: 4.5rem;
  border-bottom: solid 10px black;
  line-height: 40px;
  margin-bottom: 2rem;
}
#old .works_item {
  margin-top: 5rem;
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
#old .works_image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 65vw;
  max-width: 700px;
  max-height: 700px;
}
#old .works_image > a > img {
  width: 100%;
  height: 100%;
}
#old .works_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}
#old h3 {
  display: inline-block;
  margin-top: 20px;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  border-bottom: solid 5px;
  margin-bottom: 20px;
}
#old .works_text_item2 {
  display: inline-block;
  width: 420px;
}
#old .lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

@media screen and (max-width: 480px) {
  #old #container {
    margin-top: 60px;
  }
  #old .top_image {
    width: 100%;
  }
  #old p {
    font-size: 0.9em;
    line-height: 2em;
  }
  #old .works_text {
    width: 450px;
    margin-top: 15px;
  }
  #old .works_text_item2 {
    width: 320px;
  }
  #old h1 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #old .top_text_item2 {
    width: 600px;
  }
  #old h3 {
    font-size: 2em;
    border-bottom: sorid 7px;
  }
  #old h2 {
    font-size: 3.5em;
    line-height: 65%;
    border-bottom: solid 8px;
  }
}
#new {
  background-color: black;
  color: white;
}
#new .Load {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#new .Load img {
  display: none;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
#new .Section-title-new {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  #new .Section-title-new {
    margin-bottom: 30px;
  }
}
#new .Section-title-new__text {
  font-size: 4.4444444444rem;
  display: inline-block;
  line-height: 1;
  border-bottom: 15px solid rgb(255, 248, 143);
}
@media screen and (max-width: 750px) {
  #new .Section-title-new__text {
    font-size: 3.0555555556rem;
    border-bottom: 10px solid rgb(255, 248, 143);
  }
}
#new img {
  overflow-x: hidden;
  overflow-y: hidden;
}
#new .Mv {
  overflow: hidden;
}
#new .Mv__inner {
  position: relative;
}
#new .Mv__img {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 800;
  -o-object-fit: cover;
     object-fit: cover;
}
#new .Mv__text {
  position: absolute;
  line-height: 0.8;
}
@media screen and (max-width: 750px) {
  #new .Mv__text {
    z-index: 900;
  }
}
#new .Mv__text--1 {
  top: 100px;
  left: 60px;
  font-size: 16.6666666667rem;
  font-weight: bold;
}
@media screen and (max-width: 1500px) {
  #new .Mv__text--1 {
    font-size: 11.1111111111rem;
  }
  #new .Mv__text--1::before {
    content: "";
    width: 32px;
    height: 5px;
    transform: rotate(45deg) translateY(-190%);
    position: absolute;
    bottom: -28px;
    left: 191px;
    background-color: rgb(255, 248, 143);
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    z-index: 800;
  }
  #new .Mv__text--1::after {
    content: "";
    width: 225px;
    height: 5px;
    position: absolute;
    background-color: rgb(255, 248, 143);
    bottom: -30px;
    left: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    z-index: 800;
  }
}
@media screen and (max-width: 750px) {
  #new .Mv__text--1 {
    font-size: 8.3333333333rem;
    left: 40px;
  }
  #new .Mv__text--1::before {
    width: 24px;
    bottom: -30px;
    left: 142px;
  }
  #new .Mv__text--1::after {
    width: 169px;
  }
}
#new .Mv__text--2 {
  bottom: 160px;
  right: 60px;
  font-size: 16.6666666667rem;
  font-weight: bold;
}
@media screen and (max-width: 1500px) {
  #new .Mv__text--2 {
    font-size: 11.1111111111rem;
    bottom: 45px;
  }
}
@media screen and (max-width: 750px) {
  #new .Mv__text--2 {
    font-size: 8.3333333333rem;
    right: 40px;
  }
}
#new .Mv__text--3 {
  font-size: 1.6666666667rem;
  font-weight: bold;
  z-index: 900;
  line-height: 1.5;
  right: 0;
  letter-spacing: 0.1em;
  transform: translateY(-150%);
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 1500px) {
  #new .Mv__text--3 {
    font-size: 1.2222222222rem;
  }
}
@media screen and (max-width: 750px) {
  #new .Mv__text--3 {
    font-size: 1.1111111111rem;
  }
}
@media screen and (max-width: 1500px) {
  #new .Mv {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  #new .Mv::-webkit-scrollbar {
    height: 0px;
    background-color: black;
    color: black;
  }
  #new .Mv::-webkit-scrollbar-track {
    color: black;
    background-color: black;
  }
  #new .Mv::-webkit-scrollbar-thumb {
    color: black;
    background-color: black;
  }
  #new .Mv__inner {
    min-width: 1500px;
  }
}
@media screen and (max-width: 1500px) and (max-width: 750px) {
  #new .Mv__inner {
    min-width: 1000px;
    height: 100vh;
  }
}
#new .Mini {
  margin-bottom: 100px;
  margin-top: 50px;
}
@media screen and (max-width: 750px) {
  #new .Mini {
    margin-top: 30px;
    margin-bottom: 80px;
  }
}
#new .Mini__text {
  padding: 0 20px;
  text-align: center;
  letter-spacing: 0.1em;
  max-width: 830px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#new .Mini__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#new .Mini__item {
  position: relative;
  margin: 20px 0;
}
#new .Mini__img {
  max-height: 450px;
}
#new .Mini__img img {
  max-height: 450px;
  filter: drop-shadow(-2px 2px 0 rgb(255, 248, 143));
}
@media screen and (max-width: 750px) {
  #new .Mini__img img {
    max-height: 500px;
  }
}
#new .Mini__title {
  font-size: 2.7777777778rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  display: inline-block;
  max-width: 200px;
  position: absolute;
  top: 15%;
  left: 10%;
  text-shadow: 2px 2px 0px black;
}
@media screen and (max-width: 750px) {
  #new .Mini__title {
    font-size: 2.2222222222rem;
    font-weight: 700;
  }
}
#new .Mini__title--one {
  font-size: 3.8888888889rem;
  top: 13%;
}
@media screen and (max-width: 750px) {
  #new .Mini__title--one {
    font-size: 2.7777777778rem;
  }
}
#new .Mini__title--two {
  font-size: 3.3333333333rem;
  top: 14%;
}
@media screen and (max-width: 750px) {
  #new .Mini__title--two {
    font-size: 2.5rem;
  }
}
#new .Mini__title span {
  display: inline-block;
}
#new .Mini__comment {
  position: absolute;
  bottom: 10px;
  right: 55px;
  text-align: center;
  letter-spacing: 0.25em;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black, 0 1px black, 1px 0 black, 0 -1px black, -1px 0 black;
  font-weight: bold;
  font-size: 1.1111111111rem;
}
@media screen and (max-width: 750px) {
  #new .Mini__comment {
    right: 70px;
  }
}
#new .Haco {
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}
#new .Haco__inner {
  display: inline-block;
  position: relative;
}
#new .Haco__img {
  display: inline;
  max-height: 900px;
}
#new .Haco__text-1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: absolute;
  top: -10px;
  right: 5px;
  text-shadow: 2px 2px 0px black;
}
#new .Haco__text-2 {
  font-size: 2.5rem;
  font-weight: bold;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  letter-spacing: 0.1em;
  position: absolute;
  top: 45px;
  right: 0;
  text-shadow: 2px 2px 0px black;
}
#new .Haco__text-3 {
  padding: 20px 20px;
  padding-top: 0;
  text-shadow: 1px 1px 2px black;
  max-width: 450px;
  margin: 0 auto;
}
#new .Haco__text-3 span {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}
#new .Haco__text-3 span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 248, 143);
  bottom: 3px;
}
#new .Haco__text-3 .ku {
  margin-right: 0;
}
#new .Haco__text-3 .ku::before {
  background-color: transparent;
}
#new .Bv {
  height: 100vh;
  min-height: 1100px;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  #new .Bv {
    min-height: initial;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
#new .Bv__inner {
  position: relative;
}
#new .Bv__img {
  width: 100%;
  position: relative;
  z-index: 800;
  min-height: 900px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#new .Bv__text {
  position: absolute;
  left: 100px;
  top: 20%;
  z-index: 810;
  min-width: 560px;
}
@media screen and (max-width: 750px) {
  #new .Bv__text {
    left: 0;
    width: 100vw;
    padding: 0 30px;
    max-width: 440px;
    min-width: initial;
  }
}
#new .Bv__text--title {
  font-size: 4.4444444444rem;
  letter-spacing: 0.1em;
  line-height: 1;
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  #new .Bv__text--title {
    font-size: 1.6666666667rem;
  }
}
#new .Bv__text--title::before {
  position: absolute;
  content: "777";
  color: rgb(255, 248, 143);
  opacity: 0.3;
  right: -100px;
  top: 40px;
  font-size: 8.3333333333rem;
  font-weight: 900;
}
@media screen and (max-width: 750px) {
  #new .Bv__text--title::before {
    font-size: 2.7777777778rem;
    right: 100px;
    top: 10px;
  }
}
#new .Bv__text--title .ind {
  font-size: 6.6666666667rem;
  letter-spacing: 0;
  line-height: 1.1;
}
@media screen and (max-width: 750px) {
  #new .Bv__text--title .ind {
    font-size: 2.5rem;
  }
}
#new .Bv__text--title .jack {
  position: relative;
}
#new .Bv__text--title .jack::after {
  position: absolute;
  content: "";
  background-color: rgb(255, 248, 143);
  height: 10px;
  width: 400px;
  bottom: 0;
  left: 180px;
  z-index: 500;
}
@media screen and (max-width: 750px) {
  #new .Bv__text--title .jack::after {
    bottom: -5px;
    left: 70px;
    width: 180px;
    height: 5px;
  }
}
#new .Bv__text--title-2 {
  display: block;
  margin-bottom: 15px;
  font-size: 1.6666666667rem;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  #new .Bv__text--title-2 {
    font-size: 1.3888888889rem;
  }
}
@media screen and (max-width: 1500px) {
  #new .Bv {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  #new .Bv::-webkit-scrollbar {
    height: 0px;
    background-color: black;
    color: black;
  }
  #new .Bv::-webkit-scrollbar-track {
    color: black;
    background-color: black;
  }
  #new .Bv::-webkit-scrollbar-thumb {
    color: black;
    background-color: black;
  }
  #new .Bv__inner {
    min-width: 1500px;
  }
}
@media screen and (max-width: 1500px) and (max-width: 750px) {
  #new .Bv__inner {
    min-width: 1000px;
    height: 100vh;
  }
}/*# sourceMappingURL=stylesheet.css.map */