@use "../mixin/mixin" as m;

/*---------------------
    openbtn
    ---------------------*/
.drawer {
    position: fixed;
    right: 0;
    top: 0;

    &-hidden {
        display: none;
    }

    &-open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;

        span,
        span::after,
        span::before {
            content: '';
            display: block;
            height: 3px;
            width: 25px;
            border-radius: 3px;
            background: white;
            transition: 0.4s;
            position: absolute;
        }

        span::before {
            bottom: 8px;
        }

        span::after {
            top: 8px;
        }
    }
}

#drawer-check:checked~.drawer-open span {
    background: rgba(255, 255, 255, 0);
}

#drawer-check:checked~.drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer-check:checked~.drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/*---------------------
    g-nav
    ---------------------*/
#g-nav {
    background: #333;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.6s;
    transform: translateY(-100%);
}

#drawer-check:checked~#g-nav {
    transform: translateY(0);
}

#g-nav ul {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#g-nav li {
    text-align: center;
    color: white;
}

.Header {
    .SP-header {
        display: none;
        height: 60px;

        @include m.mq(sp) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #333;
            z-index: 998;

            .Logo {
                position: relative;
                display: block;
                height: 60px;
                width: 190px;
                z-index: 100;

                &__img {
                    height: inherit;
                }
            }
        }
    }

    .PC-header {
        display: block;
        position: fixed;
        width: 250px;
        height: 100%;
        background-color: #333;
        left: 0;
        top: 0;
        color: white;

        .Logo {
            transition: all 0.3s;

            @include m.hover {
                opacity: 0.7;
            }
        }

        @include m.mq(sp) {
            display: none;
        }

        .Index {
            &__list {
                margin: 30px;
                line-height: 1.5;
            }

            &__title {
                font-size: m.rem(24);
                font-weight: bold;
            }

            &__title1 {
                display: inline-block;
                font-size: m.rem(22);
                color: white;
                border-bottom: solid 2px transparent;
                transition: all 0.3s;
                margin-top: 15px;
                margin-bottom: 10px;
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    background-color: m.$ye;
                    height: 15px;
                    width: 3px;
                    right: -8px;
                    bottom: 3px;
                    transform: rotate(30deg);
                }

                @include m.hover {
                    border-bottom: solid 2px m.$ye;
                }
            }

            &__title2 {
                display: inline-block;
                font-size: m.rem(18);
                color: white;
                border-bottom: solid 2px transparent;
                transition: all 0.3s;
                margin-left: 30px;
                margin-bottom: 10px;

                @include m.hover {
                    border-bottom: solid 2px m.$ye;
                }
            }
        }
    }
}