@use "../mixin/mixin" as m;

#page-top {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    line-height: 2rem;
    background-color: #333;
    transition: all 0.3s;
    z-index: 100;
}

#page-top::after {
    content: "";
    color: white;
    display: block;
    position: absolute;
    width: 18px;
    border-top: solid 5px;
    transform: rotate(-45deg);
    transform-origin: left top;
    z-index: 50;
    border-radius: 5px;
    top: 27px;
    left: 12px;
}

#page-top::before {
    content: "";
    color: white;
    display: block;
    position: absolute;
    top: 14px;
    right: 7px;
    width: 18px;
    border-top: solid 5px;
    border-radius: 5px;
    transform: rotate(45deg);
    transform-origin: left top;
    z-index: 50;
}

@include m.mq(sp) {
    #page-top {
        bottom: 15px;
        right: 15px;
    }
}